.facerec__signin {
  justify-content: center;
}
.facerec__signin-container {
  flex-direction: column;
  width: 300px;
  height: auto;
  border-radius: 0;
  padding: 3rem 4rem;
  box-sizing: border-box;
  background: #0000c426;
  box-shadow: 1px 1px 5px #00000045, -1px -1px 5px #00000045;

  margin: 0 4rem;
}

.facerec__signin-container_brand-title {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 4rem;
  color: rgb(187, 190, 102);
  font-family: var(--second-font);
  letter-spacing: 1px;
}

.facerec__signin-container_inputs {
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;
}

.facerec__signin label,
.facerec__signin input,
.facerec__signin button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: var(--second-font);
}

.facerec__signin label {
  margin-bottom: 4px;
  font-size: 2rem;
  font-family: var(--font-family);
  color: rgba(255, 255, 255, 0.653);
}

.facerec__signin label:nth-of-type(1) {
  margin-top: 2rem;
}

.facerec__signin input::placeholder {
  color: rgba(14, 12, 12, 0.381);
  font-size: 1.5rem;
}

.facerec__signin input {
  background: rgba(255, 255, 255, 0.85);
  padding: 10px;
  padding-left: 20px;
  min-height: 5rem;
  font-size: 2rem;
  border-radius: 2px;
  box-shadow: inset 1px 1px 4px #cbced1,
    inset -1px -1px 4px rgba(255, 255, 255, 0.347);
  width: 75%;
  margin: auto;
}

.facerec__signin button {
  width: 15rem;
  margin: 0 auto;
  margin-top: 20px;

  background: rgba(103, 20, 162, 0.762);
  /* background: #901be3b4; */
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 1px 1px 2px #1f1f203e, -1px -1px 2px rgba(37, 33, 33, 0.285);

  transition: 0.5s;
}

.facerec__signin button:hover {
  box-shadow: 1px 1px 4px #cbced13e, -1px -1px 4px rgba(255, 255, 255, 0.285);
  transition: 0.5s;
  scale: 1.1;
}

.facerec__signin p.register-btn {
  font-size: 1.8rem;

  font-weight: 500;
  margin-top: 2rem;
}

@media screen and (max-width: 500px) {
  .facerec__signin input {
    width: 85%;
  }
  .facerec__signin {
    margin-top: 10rem;
  }
}
